<h1> Season <%= @bachelorette.season_number %> </h2>
<h2><%= @bachelorette.name %>'s Contestants</h2>
<ol>
  <% @contestants.each do |c| %>
    <li> <b><%= c.name %></b><br>
        Age: <%= c.age %><br>
        Hometown: <%= c.hometown %></li><br>
  <% end %>
</ol>

<b> These Contestants are from these hometowns: </b><%= @bachelorette.hometowns.join(", ") %>