<h1> Season <%= @bachelorette.season_number %> </h2>
<h2><%= @bachelorette.name %>'s Contestants</h2>
<ol>
  <% @contestants.each do |c| %>
    <li> <b><%= c.name %></b> | Age: <%= c.age %> | Hometown: <%= c.hometown %></li>
  <% end %>
</ol>