<h2><%= @outing.name %></h2>
<b>Location:</b> <%= @outing.location %><br>
<b>Date:</b> <%= @outing.print_date %><br>
<b>Count of Contestants:</b> <%= @outing.count_contestants%><br>
<br>
<b>Contestants:</b> <%= @outing.contestants_list %>