<h2><%= @outing.name %></h2>
<b>Location:</b> <%= @outing.location %><br>
<b>Date:</b> <%= @outing.print_date %><br>
<b>Count of Contestants:</b> <%= @outing.count_contestants%><br>
<br>
<b>Contestants:</b>
<% @outing.contestants.distinct.each do |c| %>
  <div id="contestant-<%= c.id %>">
    <%= c.name %> <%= link_to "Remove", outing_path(@outing, contestant_id: c.id), method: :delete%>
  </div>
<% end %>